<div class="container">
    <p>Wenn Sie mit uns in Kontakt treten wollen, können Sie das über folgende Wege:</p>

    <h4 class="mt-5">Postanschrift</h4>
    <p>Kneip Treff Friedberg<br>Bauernbräustraße 4 (Brunnenhofpassage)<br>86316 Friedberg</p>

    <h4 class="mt-5">Öffnungszeiten des Kneip Treffs</h4>
    <p>jeweils dienstags von 10-12 Uhr und<br>jeden 1. Freitag im Monat von 10-12 Uhr<br>(In den Schulferien sind keine Bürozeiten.)</p>

    <h4 class="mt-5">Telefon</h4>
    <p>0821 248 41 85</p>

    <h4 class="mt-5">EMail</h4>
    <p><a href="mailto:info@Kneippverein-friedberg.de">info@kneippverein-friedberg.de</a></p>

</div>