<div class="container-fluid footer bg-light mt-5">
    <div class="row d-flex align-items-center" style="font-size: large; padding-top: 12px;">
        <div class="col-6">
                <p>&#169; {{ site.time | date: '%Y' }} &#183; <a style="color:black;" href="/pages/imprint.html">Impressum</a>
                <!-- &#183; <a style="color:black;" href="/pages/disclaimer.html">Datenschutzerklärung</a> -->
                <!-- &#183; <a style="color:black;" href="https://www.kneipp-lv-bayern.de" target="_blank">Landesverband</a> -->
                <!-- &#183; <a style="color:black;" href="https://www.kneippbund.de" target="_blank">Dachverband Deutschland</a> -->
                </p>
        </div>
        <div class="col-6 d-flex justify-content-end">
                <p><i class="ph ph-envelope"></i> <a href="mailto:info@kneippverein-friedberg.de" style="color:black">info@kneippverein-friedberg.de</a> &emsp; <i class="ph ph-phone"></i> 0821 248 41 85</p> </p>
        </div>
    </div>
</div>