<div class="container-fluid footer bg-light mt-5">
    <div class="row d-flex align-items-center" style="font-size: large; padding-top: 12px;">
        <div class="col-6">
                <p>&#169; {{ site.time | date: '%Y' }} &#183; <a>Impressum</a> &#183; <a>Datenschutzerklärung</a></p>
        </div>
        <div class="col-6 d-flex justify-content-end">
                <p><i class="ph ph-envelope"></i> <a href="mailto:kneipp.ov.friedberg@gmail.com" style="color:black">kneipp.ov.friedberg@gmail.com</a> &emsp; <i class="ph ph-phone"></i> 0821 248 41 85</p> </p>
        </div>
    </div>
</div>