

<div class="container-fluid d-flex align-items-end justify-content-center mt-5">
    <div class="row" style="max-width: 1150px;">
        <div class="col">
            <center class="mb-3">
                <a href="/assets/documents/satzung.pdf" target="_blank" class="btn button1 btn-lg d-flex justify-content-center" role="button" style="min-width: 350px;"><i class="fs-2 ph-bold ph-file-pdf"></i>&#8194; Unsere Satzung als PDF</a>
            </center>
        </div>
    </div>
</div>

<div class="container m-5">
</div>

{% capture my_include %}{% include statute.md %}{% endcapture %}
{{ my_include | markdownify }}