<div class="container-fluid d-flex align-items-end justify-content-center mt-5">
    <div class="row" style="max-width: 1150px;">
        <div class="col">
            <center class="mb-3">
                <a href="/assets/documents/satzung_2019.pdf" target="_blank" class="btn button1 btn-lg d-flex justify-content-center" role="button" style="min-width: 350px;"><i class="fs-2 ph-bold ph-file-pdf"></i>&#8194; Unsere Satzung als PDF</a>
            </center>
        </div>
    </div>
</div>

<div class="container m-5">
<h4 class="mt-5">§ 1 Name, Sitz, Rechtsform</h4>
<p>Der Verein führt den Namen „Kneipp-Verein Friedberg e.V.“</p>
<p>Er hat seinen Sitz in Friedberg /Bayern.</p>
<p>Er ist in das Vereinsregister beim Amtsgericht Aichach eingetragen.</p>

<h4 class="mt-5">§ 2 Mitgliedschaften, Verbandszugehörigkeiten</h4>
<p>Der Kneipp-Verein Friedberg e.V. gehört als Untergliederung auf lokaler Ebene dem Kneipp-Bund e.V., Bundesverband für Gesundheitsförderung und Prävention, an und ist zugleich auch Mitglied des KneippBund Landesverbandes Bayern e.V.</p>
<p>Die Satzungen und Ordnungen der übergeordneten Gliederungen werden von ihm anerkannt.</p>
<p>Er ist jedoch wirtschaftlich und rechtlich selbstständig.</p>


<h4 class="mt-5">§ 3 Geschäftsjahr</h4>
<p>Das Geschäftsjahr ist das Kalenderjahr.</p>


<h4 class="mt-5">§ 4 Gemeinnützigkeit, Zweck, Aufgaben</h4>
<ol>
<li>Der Verein verfolgt ausschließlich und unmittelbar gemeinnützige Zwecke im Sinne des Abschnitts "Steuerbegünstigte Zwecke" der §§ 51 ff der Abgabenordnung (AO).</li>
<li>Zweck des Vereins ist die Förderung der öffentlichen Gesundheitspflege. Darüber hinaus will der Verein die Lehre Sebastian Kneipps vom gesunden Leben und naturgemäßen Heilen - sinngemäß erweitert und vertieft, wissenschaftlich untermauert und zeitgemäß dargestellt - allen Menschen nahe bringen.</li>
<li>Er bezweckt insbesondere:</li>
<ol>
<li>die Förderung der Gesundheitsbildung der Bevölkerung,</li>
<li>die Förderung und Verbreitung der Gesundheitsvorsorge und des Gesundheitssports in der Bevölkerung,</li>
<li>die Förderung der Gesundheitserziehung der Kinder und Jugendlichen,</li>
<li>die Förderung des Umweltschutzes und Umweltbewusstseins in der Bevölkerung,</li>
<li>die Pflege des Andenkens an Sebastian Kneipp.</li>
</ol>
<li>Der Vereinszweck wird verwirklicht u.a. durch</li>
<ol>
<li>Durchführung von Vorträgen, Seminaren, Kursen und Veranstaltungen (z.B. auch Ausflüge und Wanderungen) im Bereich Gesundheitsvorsorge und Gesundheitssport, gemäß dem ganzheitlichen Gesundheitskonzept der Kneippschen Lehre unter Einbeziehung der Elemente Lebensordnung, Bewegung, Ernährung, Heilpflanzen und Wasser.</li>
<li>Unterstützung bei Ausbildung, Fortbildung und Einsatz von sachgemäß vorgebildeten Übungsleitern,</li>
<li>Mitwirkung an örtlichen Gesundheitsveranstaltungen,</li>
<li>Zusammenarbeit mit anderen Einrichtungen und Institutionen der Gesundheitsbildung und Gesundheitsförderung.</li>
</ol>
<li>Der Verein ist selbstlos tätig; er verfolgt nicht in erster Linie eigenwirtschaftliche Zwecke.</li>
<li>Der Verein ist politisch und konfessionell neutral.</li>
<li>Mittel des Vereins dürfen nur für die satzungsmäßigen Zwecke des Vereins verwendet werden. Die Mitglieder erhalten keine Zuwendungen aus Mitteln des Vereins.</li>
<li>Es darf keine Person durch Ausgaben, die dem Zweck des Vereins fremd sind, oder durch unverhältnismäßig hohe Vergütungen begünstigt werden.</li>
</ol>

<h4 class="mt-5">§ 5 Mitgliedschaft</h4>
<p>Mitglied des Vereins kann jede natürliche oder juristische Person werden. Die Mitgliedschaft muss durch schriftliche Beitrittserklärung beim Vorstand beantragt werden.</p>
<ol>
<li>Für Minderjährige ist die Zustimmungserklärung der gesetzlichen Vertreter erforderlich.</li>
<li>Die Familienmitgliedschaft kann für alle zur Familie oder Partnerschaft gehörenden Personen beantragt werden, sie erstreckt sich auf Eltern und sämtliche noch in Ausbildung befindlichen Kinder ohne eigenen Verdienst bis max. zum vollendeten 27. Lebensjahr.</li>
<li>Über den Aufnahmeantrag entscheidet der Vorstand mit einfacher Mehrheit der abgegebenen gültigen Stimmen</li>
<li>Fördernde Mitglieder können dem Verein als natürliche und juristische Personen beitreten, die durch Sonderbeiträge den Verein besonders fördern wollen.</li>
<li>Mitglieder und Personen, die sich um den Kneipp Verein besonders verdient gemacht haben, können in der Hauptversammlung zu Ehrenmitgliedern ernannt werden. Sie haben die gleichen Rechte wie ordentliche Mitglieder, sind aber von der Beitragsleistung befreit.</li>
</ol>

<h4 class="mt-5">§ 6 Rechte der Mitglieder</h4>
<ol>
<li>Alle Mitglieder haben das Recht, im Rahmen der Satzung und der Ordnungen am Vereinsleben teilzunehmen, die Einrichtungen des Vereins nach Maßgabe der hierfür getroffenen Bestimmungen zu benutzen und an den Veranstaltungen des Vereins zu dem festgelegten Kostenbeitrag teilzunehmen.</li>
<li>Alle Mitglieder sind berechtigt, an den Beratungen und Beschlussfassungen der Mitgliederversammlung teilzunehmen. Ab Eintritt der Volljährigkeit sind sie stimmberechtigt und wählbar. Ein Mitglied ist nicht stimmberechtigt, wenn die Beschlussfassung die Vornahme eines Rechtsgeschäfts mit ihm oder die Einleitung oder Erledigung eines Rechtsstreits zwischen ihm und dem Verein betrifft.</li>
</ol>

<h4 class="mt-5">§ 7 Pflichten der Mitglieder</h4>
<ol>
<li>Alle Mitglieder sind verpflichtet, gemäß der Satzung und nicht gegen die Interessen des Vereins zu handeln.</li>
<li>Alle Mitglieder sind verpflichtet, den festgesetzten jährlichen Mitgliedsbeitrag im Einzugsverfahren zu leisten. Die Beitragshöhe kann nach Mitgliedergruppen aus sachlichen Gründen unterschiedlich festgesetzt werden. Auch eine Befreiung der Beitragspflicht ist möglich. Die Beitragshöhe wird von der Mitgliederversammlung mit einfacher Mehrheit der abgegebenen gültigen Stimmen geregelt.</li>
</ol>




<h4 class="mt-5">§ 8 Beendigung der Mitgliedschaft</h4>
<ol>
<li>Die Mitgliedschaft erlischt durch:</li>
<ol>
<li>Austritt</li>
<li>Ausschluss</li>
<li>Tod</li>
<li>Auflösung des Vereins, jedoch nicht vor Durchführung der Liquidation gemäß § 47 BGB</li>
<li>Verlust der Rechtsfähigkeit bei juristischen Personen</li>
</ol>
<li>Der Austritt erfolgt durch schriftliche Erklärung gegenüber dem Vorstand. Der Austritt kann nur zum Ende eines Geschäftsjahres unter Einhaltung einer dreimonatigen Kündigungsfrist erklärt werden. Der Austritt wird schriftlich bestätigt.</li>
<li>Ein Mitglied kann aus dem Verein ausgeschlossen werden, wenn es gegen den Vereinszweck verstößt, in sonstiger Weise sich grober und wiederholter Verstöße gegen die Vereinssatzung schuldig gemacht hat oder innerhalb eines Jahres seiner Beitragspflicht trotz zweimaliger, schriftlicher Mahnung nicht nachgekommen ist.</li>
<li>Über den Ausschluss eines Mitglieds beschließt der Vorstand mit Zweidrittel- Mehrheit der abgegebenen gültigen Stimmen.</li>
<li>Der Beschluss über den Ausschluss ist dem betroffenen Mitglied mittels eines eingeschriebenen Briefes zuzusenden. Darin ist auf das Einspruchsrecht hinzuweisen. Die Einspruchsfrist beträgt einen Monat ab Zugang des Beschlusses. Der Einspruch hat keine aufschiebende Wirkung. Über den Einspruch entscheidet die nächstfolgende Mitgliederversammlung mit einfacher Mehrheit der abgegebenen gültigen Stimmen. Das betroffene Mitglied ist berechtigt, seinen Einspruch in dieser Mitgliederversammlung zu begründen.</li>
<li>Ausgeschlossene Mitglieder haben ihren Mitgliedsausweis dem Vorstand auszuhändigen.</li>
<li>Ausgeschiedene Mitglieder haben keinen Anspruch auf einen Anteil am Vereinsvermögen.</li>
</ol>

<h4 class="mt-5">§ 9 Organe</h4>
<p>Die Organe des Kneipp-Vereins sind:</p>
<ol>
<li>die Mitgliederversammlung</li>
<li>der Vorstand</li>
<li>der Beirat</li>
</ol>

<h4 class="mt-5">§ 10 Mitgliederversammlung</h4>
<ol>
<li>Die ordentliche Mitgliederversammlung des Vereins ist mindestens einmal im Kalenderjahr, möglichst im ersten Quartal, einzuberufen. Zeit und Ort der Mitgliederversammlung sowie die vorläufige Tagesordnung werden vom Vorstand durch Vorstandsbeschluss festgelegt.</li>
<li>Die Einberufung zu allen Mitgliederversammlungen erfolgt mindestens vier Wochen vor dem Versammlungstermin durch den Vorstand. Mit der Einberufung ist gleichzeitig die vorläufige Tagesordnung bekannt zu geben. Die Einberufung erfolgt durch schriftliche Einladung oder durch Bekanntmachung im Vereinsprogramm.</li>
<li>Anträge zur Ergänzung oder Änderung der Tagesordnung können von allen stimmberechtigten Mitgliedern gestellt werden. Sie sind zu begründen und müssen dem Vorstand spätestens zwei Wochen vor dem Versammlungstermin schriftlich unter Angabe des Namens zugehen, damit sie in die Tagesordnung ergänzend aufgenommen werden können.</li>
<li>Verspätet eingegangene Anträge sind nur dann zu berücksichtigen, wenn dies von der Mitgliederversammlung beschlossen worden ist.</li>
<li>Eine außerordentliche Mitgliederversammlung kann vom Vorstand jederzeit einberufen werden. Sie muss einberufen werden, wenn dies von einem Zehntel der teilnahmeberechtigten Mitglieder schriftlich und unter Angaben der Gründe und des Zwecks beim Vorstand beantragt wird.</li>
<li>Der Vorstand muss spätestens zwei Wochen nach Zugang des Antrags mit einer Frist von vier Wochen eine außerordentliche Mitgliederversammlung einberufen. Aus der Einladung müssen alle Gründe, die seitens der Mitglieder für die Durchführung einer außerordentlichen Mitgliederversammlung genannt worden sind, in ihrem wesentlichen Inhalt wiedergegeben werden.</li>
<li>Die Mitgliederversammlung hat insbesondere folgende Aufgaben:</li>
<ol>
<li>Entgegennahme des Jahresberichts und der Jahresrechnung des Vorstandes</li>
<li>Entlastung des Vorstandes</li>
<li>Wahl und Abwahl des Vorstandes</li>
<li>Wahl der Kassenprüfer</li>
<li>Beschlussfassung über eingegangene Anträge</li>
<li>Beschlussfassung über die Höhe des Beitrages</li>
<li>Beschlussfassung über Änderung der Satzung und Auflösung des Vereins</li>
<li>Endgültige Entscheidung über Ausschluss von Mitgliedern</li>
<li>Sonstige, über die laufenden Geschäfte des Vorstandes hinausgehende Angelegenheiten.</li>
</ol>
<li>Zur jährlichen Überprüfung der Kassen- und Buchführung werden von der Mitgliederversammlung zwei sachkundige Personen (Kassenprüfer) für die Amtsdauer des Vorstandes gewählt. Über das Ergebnis ist der Mitgliederversammlung zu berichten.</li>
<li>Die Mitgliederversammlung ist ohne Rücksicht auf die Zahl der erschienenen Mitglieder beschlussfähig, sofern diese Satzung nichts anderes regelt.</li>
<li>Jedes stimmberechtigte Mitglied hat eine Stimme. Das Stimmrecht ist nicht übertragbar.</li>
<li>Die Mitgliederversammlung entscheidet bei Beschlüssen und Wahlen mit einfacher Mehrheit der abgegebenen gültigen Stimmen, soweit die Satzung nichts anderes bestimmt. Kann über einen Antrag keine Mehrheit erzielt werden, so gilt er als abgelehnt.</li>
<li>Über Mitgliederversammlungen ist eine Niederschrift zu fertigen, die vom Versammlungsleiter und vom Protokollführer zu unterzeichnen ist. Die Niederschrift über die Mitgliederversammlung ist spätestens vier Wochen nach der Versammlung dem Kneipp-Bund e.V. und dem Landesverband einzureichen.</li>
</ol>

<h4 class="mt-5">§ 11 Vorstand</h4>
<ol>
<li>Der Vorstand besteht aus folgenden Personen:</li>
<ol>
<li>1. Vorsitzender</li>
<li>2. Vorsitzender</li>
<li>Schatzmeister</li>
<li>Schriftführer</li>
</ol>
<li>Der Vorstand führt die laufenden Geschäfte des Vereins.</li>
<li>Der Vorstand im Sinne des § 26 BGB besteht aus dem 1. Vorsitzenden und dem 2. Vorsitzenden. Sie vertreten den Verein gerichtlich und außergerichtlich und sind jeweils einzelvertretungsberechtigt.</li>
<li>Der Vorstand wird von der Mitgliederversammlung auf die Dauer von vier Jahren gewählt. Jedes Mitglied des Vorstands muss stimmberechtigtes und wählbares Mitglied des Vereins sein. Die jeweils amtierenden Vorstandsmitglieder bleiben nach Ablauf ihrer Amtszeit bis zur Wahl des neuen Vorstandes im Amt.</li>
<li>Scheidet ein Mitglied des Vorstandes - mit Ausnahme des gesetzlichen Vertreters im Sinne des § 26 BGB - vor Ablauf der Amtsperiode aus, so kann der Vorstand die frei gewordene Stelle bis zur nächsten Mitgliederversammlung, längstens bis zu 3 Monaten, kommissarisch neu besetzen. Im Falle einer Nachwahl endet die Amtsperiode des nachgewählten Vorstandsmitglieds gleicheitig mit dem Ablauf der Amtsperiode der übrigen Vorstandsmitglieder.</li>
<li>Der Vorstand tritt mindestens zweimal im Jahr zusammen. Die Vorstandssitzungen werden schriftlich mit einer Einladungsfrist von zwei Wochen einberufen (auch per E-Mail).</li>
<li>Der Vorstand ist beschlussfähig, wenn mindestens zwei Drittel der Mitglieder des Vorstandes, darunter der 1. oder 2. Vorsitzende, anwesend sind, sofern diese Satzung nichts anderes regelt.</li>
<li>Der Vorstand fasst seine Beschlüsse mit einfacher Mehrheit der abgegebenen gültigen Stimmen, sofern diese Satzung nichts anderes bestimmt. Bei Stimmengleichheit entscheidet die Stimme des/der Vorsitzenden.</li>
<li>Über Vorstandssitzungen ist eine Niederschrift zu fertigen, die vom Sitzungsleiter und vom Protokollführer zu unterzeichnen ist und bei den Akten des Vereins verwahrt wird.</li>
<li>Sofern aus den Reihen der Mitglieder kein handlungsfähiger Vorstand gebildet werden kann, kann der zuständige Kneipp-Bund Landesvorstand kommissarisch für längstens ein Jahr als Vorstand bestellt werden, der dann den Verein mit seinen vertretungsberechtigten Vorstandsmitgliedern vertritt. In diesem Falle ist für die Vorstandsbestellung die Mitgliedschaft im Verein nicht Voraussetzung.</li>
</ol>

<h4 class="mt-5">§ 12 Beirat</h4>
<ol>
<li>Dem Beirat sollen nach Möglichkeit maximal 7 Mitglieder angehören.</li>
<li>Der Beirat wird von der Mitgliederversammlung auf die Dauer von vier Jahren gewählt. Die Beiratsmitglieder müssen Mitglieder des Kneipp-Vereins sein.</li>
<li>Der Beirat ist vor allen Entscheidungen von grundsätzlicher Bedeutung zu hören. Bei Meinungsverschiedenheiten entscheidet die einfache Stimmenmehrheit</li>
<li>Vorstand und Beirat halten gemeinsame Sitzungen ab. Die Einladung muss 10 Tage vorher schriftlich ergangen sein.</li>
</ol>

<h4 class="mt-5">§ 13 Vergütung für die Vereinstätigkeit</h4>
<ol>
<li>Alle Funktionsträger sind grundsätzlich ehrenamtlich tätig.</li>
<li>Lässt es die finanzielle Situation des Vereines zu, dann kann den Mitgliedern des Vorstands bei Bedarf eine Aufwandsentschädigung maximal in Höhe der gemäß § 3 Nr. 26a EStG aktuell geltenden steuerfreien Ehrenamtspauschale gezahlt werden. Die Entscheidung hierüber trifft die Mitgliederversammlung.</li>
<li>Der Vorstand ist ermächtigt, Tätigkeiten für den Verein durch beauftragte Helfer oder Dritte gegen Zahlung der genannten Aufwandsentschädigung in Auftrag zu geben.</li>
</ol>

<h4 class="mt-5">§ 14 Datenschutz</h4>
<ol>
<li>Zur Erfüllung der Zwecke, Aufgaben und Pflichten des Kneipp-Vereins Friedberg e.V. werden personenbezogene Daten über persönliche und sachliche Verhältnisse der Mitglieder verarbeitet. Hierbei werden die jeweils gültigen gesetzlichen Vorgaben und Bestimmungen zum Datenschutz eingehalten.</li>
<li>Näheres zum Datenschutz im Kneipp-Verein Friedberg e.V. wird in der Datenschutz-Ordnung geregelt, die vom Vorstand erlassen wird.</li>
</ol>


<h4 class="mt-5">§ 15 Satzungsänderung und Änderung des Vereinszwecks</h4>
<ol>
<li>Zu einem Beschluss, der eine Änderung dieser Satzung enthält, ist eine Mehrheit von Dreiviertel der abgegebenen gültigen Stimmen erforderlich. Dies gilt auch für eine Änderung des Vereinszwecks.</li>
<li>Über Änderungen der Satzung und des Vereinszwecks kann in der Mitgliederversammlung nur abgestimmt werden, wenn auf diesen Tagesordnungspunkt bereits in der Einladung zur Mitgliederversammlung hingewiesen wurde.</li>
</ol>

<h4 class="mt-5">§ 16 Auflösung oder Aufhebung des Vereins, Vermögensbindung</h4>
<ol>
<li>Die Auflösung des Vereins kann nur in einer eigens zu diesem Zweck einberufenen Mitgliederversammlung beschlossen werden. Die Einladungsfrist zu dieser Mitgliederversammlung beträgt sechs Wochen.</li>
<li>Der Verein kann von der Mitgliederversammlung nur mit einer Mehrheit von Dreiviertel der abgegebenen gültigen Stimmen aufgelöst werden. Die Mitgliederversammlung ist nur dann beschlussfähig, wenn in dieser Mitgliederversammlung wenigstens dreiviertel aller stimmberechtigten Mitglieder des Vereins anwesend sind.</li>
<li>Ist die einberufene Mitgliederversammlung nicht beschlussfähig, so ist eine neue Mitgliederversammlung innerhalb der nächsten vier Wochen mit derselben Tagesordnung einzuberufen, die dann ohne Rücksicht auf die Zahl der anwesenden stimmberechtigten Mitglieder beschließt. Hierauf ist in der Einladung hinzuweisen.</li>
<li>Der Kneipp-Bund e. V. und der zuständige Landesverband sind vor einer etwaigen Beschlussfassung über die Auflösung zu hören.</li>
<li>Die Mitgliederversammlung benennt im Falle der Auflösung des Vereins zur Abwicklung der Geschäfte zwei Liquidatoren.</li>
<li>Bei Beendigung des Vereins durch Auflösung oder Verlust der Rechtsfähigkeit sowie bei Wegfall steuerbegünstigter Zwecke fällt das vorhandene Vermögen des Vereins dem Kneipp-Bund e.V. - Bundesverband für Gesundheitsförderung und Prävention – mit Sitz in Bad Wörishofen oder einer durch die Mitgliederversammlung bestimmten gemeinnützigen Organisation zu, die es gemäß ihrer aktuellen Satzung zu verwenden hat. Den Begünstigten bestimmt die letzte Mitgliederversammlung.</li>
</ol>

<h4 class="mt-5">§ 17 Schlussbestimmung</h4>
<ol>
<li>Der Vorstand wird ermächtigt, formelle Änderungen dieser Satzung zu beschließen, sofern diese vom zuständigen Amtsgericht und / oder der Finanzverwaltung gefordert werden, um die Eintragung in das Vereinsregister und Erlangung der Gemeinnützigkeit zu erreichen. Nach Eintragung in das Vereinsregister und Anerkennung der Gemeinnützigkeit verliert dieser §17 Absatz 1 seine Wirkung und wird obsolet. Für Satzungsänderungen gilt dann wieder die Regelung des §15.</li>
<li>Diese Satzung tritt am Tag nach ihrer Eintragung im zuständigen Vereinsregister in Kraft. Gleiches gilt für Satzungsänderungen</li>
</ol>

<p>Diese Satzung wurde am 12.02.2019 errichtet.</p>

</div>