<!doctype html>
<html>
  {% include head.html %}
  <body class="d-flex flex-column">
    
    <div class="top-bar">
        <p class="m-1 ms-5"><i class="ph ph-envelope"></i> <a href="mailto:info@kneippverein-friedberg.de" style="color:white">info@kneippverein-friedberg.de</a> &emsp; <i class="ph ph-phone"></i> 0821 248 41 85</p>
    </div>

    <main class="flex-fill">
      {{ content }}
    </main>

        {% include footer.html %}

    
    <script src="{{ '/assets/bootstrap/js/bootstrap.bundle.min.js' | relative_url }}"></script>
  </body>

  

</html>

