---
layout: default
---




<div class="mt-5 mb-5 container-fluid d-flex align-items-center justify-content-center page-header">
    <div class="row">
            <h1 class="text-center" style="max-width: 1200px;">{{ page.title }}</h1>
    </div>
</div>
<div class="container" style="max-width: 1080px;">
    {{ content }}
</div>

<div class="container-fluid d-flex align-items-end justify-content-center mt-5">
    <div class="row" style="max-width: 1150px;">
        <div class="col">

            <center class="mb-3">
                <a href="/" class="btn button1 btn-lg d-flex justify-content-center" role="button" style="min-width: 350px;"><i class="fs-2 ph-bold ph-arrow-arc-left"></i>&#8194; Zurück</a>
            </center>
        </div>
    </div>
</div>